.slideshow{
    display: grid;
    grid-column: 1/13;
    grid-row: 4/10;
    position: relative;
    width: 100%;
    height: 80vh;  
    position: relative;
  

    .slide-content{
        width: inherit;
        height: inherit;
        position: absolute;
        animation: slides 20s linear infinite;
 }

 .img img{
    width: 100%;
    height: inherit;
     object-fit: cover;
 }

 .content{
   @include content;
     bottom: 6rem;
     left: 4rem;
   max-width: 25rem;
   height: 3rem;
   text-align: center;
   padding: 5px 0; 
 font-size: medium;   
}

.contents{
    bottom: 10rem;
    left: 4rem;
    @include content;  
    width: 8rem;
    height: 4rem;
    text-align: center;
    font-size: xx-large; 
    font-weight: 300;  
}

}

@keyframes slides{

    0%{
        visibility: hidden;
        opacity: 0;
    }

    2%{
        visibility: visible;
        opacity: 1;
    }

    18%{
        visibility: visible;
        opacity: 1;    
    }

    20%{
        visibility: hidden;
        opacity: 0;
    
    }
    100%{
        visibility: hidden;
        opacity: 0;
    
    }
}

$animation-delay: 1 0s,2 5s,3 10s,4 15s,5 20s;

@each $var in $animation-delay {
    .slide-content:nth-child(#{nth($var ,1)}){
        animation-delay: nth($var, 2 );
    }
}

